body {
  font-family: 微软雅黑;
  color: #f6ecd0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url('../images/bgEnd.png') repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}
body .videoEnd {
  overflow: hidden;
}
body .videoEnd .open {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
body .videoEnd .open img {
  width: 100%;
  height: auto;
}
body .videoEnd p {
  width: 400px;
  height: 40px;
}
body .videoEnd p.mobileS {
  width: 400px;
  height: 20px;
}
body .videoEnd p.mobileS span {
  width: 170px;
  height: 20px;
  border: 1px solid #ecae50;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
}
body .videoEnd p.mobileS span:nth-child(1) {
  margin-right: 40px;
}
body .videoEnd p.mobileS span a {
  width: 170px;
  height: 20px;
  display: inline-block;
  color: #ecae50;
}
body .videoEnd p span {
  width: 170px;
  height: 40px;
  border: 1px solid #ecae50;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
body .videoEnd p span:nth-child(1) {
  margin-right: 40px;
}
body .videoEnd p span a {
  width: 170px;
  height: 40px;
  display: inline-block;
  color: #ecae50;
}
body .audioPlay {
  position: absolute;
  left: 0;
  top: -10000px;
  z-index: 100;
}
body .tip {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0;
  z-index: 10;
}
body .tip img {
  width: 100%;
  height: 100%;
}
