body{
	font-family: 微软雅黑;
	width:100%;
	height:100%;
    margin: 0 auto;
  	overflow: hidden;
  	position: relative;
}

.audioPlay{
  position: absolute;
  left:0;
  top:-1000px;
  z-index: 2;
}
.videoPlay{
  width:100%;
  overflow:hidden;
  height:auto;
  background: #1e181b;
}
.loading{
  width:100%;
  height:100%;
  background:url('../images/loading1.jpg') repeat;
  background-size: 100% 100%;
  overflow: hidden;
  img{
	width:50%;
	height:auto;
	margin-left: 25%;
  }
}
.tip{
  width:100%;
  height:100%;
  background:#000;
  display:none;
  position:absolute;
  left:0;
  top:0;
  z-index: 10;
  img{
	width:100%;
	height:auto;
  }
}
.point{
  width:20%;
  height:auto;
  display:none;
  position:absolute;
  opacity: 1;
  left:50%;
  top:0%;
  margin-left:-10%;
  z-index: 3;
  .handClick{
	width:100%;
	height:100%;
  }
}
